<h3>Demo:</h3>
<br>
<div context-menu="onRightClick(message);" class="panel panel-default" data-target="myMenu"
     ng-class="{ 'highlight': panel1.highlight, 'expanded': panel1.expanded }">
  <div class="panel-body">
    <strong>Panel 1</strong> (Right-click anywhere within this panel)
  </div>
</div>
<div context-menu="onRightClick(message);" class="panel panel-default" data-target="myMenu2"
     ng-class="{ 'highlight': panel2.highlight, 'expanded': panel2.expanded }">
  <div class="panel-body">
    <strong>Panel 2</strong> (Right-click anywhere within this panel)
  </div>
</div>